@import 'boardStyles/title';
@import 'boardStyles/control';

.board {
  display: flex;
  flex-direction: column;
  max-width: 304px;
  flex: 0 0 304px;
  position: relative;
  margin: 24px 0 24px 36px;

  &:last-of-type::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 36px;
    height: 1px;
  }

  .card-area {
    flex-grow: 1;
    height: 100%;
    padding: 8px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $board-bg;
    overflow: auto;

    .card-wrapper {
      display: flow-root;

      .card {
        margin: 8px 12px;
        border-radius: 8px;
        padding: 12px;
        @include box-shadow;
        background-color: white;
        cursor: pointer;
        transform: translate(0, 0);

        .tags {
          .tag {
            width: initial;
            &.minimized {
              font-size: 0;
              height: 12px;
              margin-left: 4px;
              &:first-of-type {
                margin-left: 12px;
              }
            }
            transition: font-size 500ms, height 500ms;
          }
        }

        &.placeholder {
          background-color: $grey-bg;
        }

        .headline {
          color: $black-text;
        }
      }
    }
  }
}

.tag-transition-enter {
  font-size: 12px;
  width: 100px;
}

.tag-transition-enter-active {
  font-size: 1px;
  width: 200px;
  transition: all 1000ms;
}

.tag-transition-exit {
  font-size: 1px;
  width: 200px;
}

.tag-transition-exit-active {
  font-size: 12px;
  width: 100px;
  transition: all 1000ms;
}
