.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-area {
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }
}

//.card-placeholder {
//  margin: 16px 12px 0 12px;
//  border-radius: 8px;
//  padding: 12px;
//  height: 20px;
//  @include box-shadow;
//  background-color: $grey-bg;
//}
