html,
body {
  height: 100%;
  font-size: $default-font-size;
  font-weight: normal;
  background-color: rgb(219, 219, 219);
}

body {
  font-family: Lato, sans-serif;
  #app {
    height: 100%;
  }
}

.green-bg {
  background-color: $green !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  .tag{
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 12px;
    margin-bottom: 12px;
    padding: 4px 16px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    &.frontend {
      background-color: $orange;
      color: black;
      &.hover {
        &:hover{
          background-color: lighten($orange, 10%);
        }
      }
    }
    &.bug {
      background-color: $red;
      &.hover {
        &:hover{
          background-color: lighten($red, 10%);
        }
      }
    }
    &.design {
      background-color: $blue;
      &.hover {
        &:hover{
          background-color: lighten($blue, 10%);
        }
      }
    }
    &.backend {
      background-color: $purple;
      &.hover {
        &:hover{
          background-color: lighten($purple, 10%);
        }
      }
    }
  }
}

.input-wrapper {
  display: flex;
  height: 39px;
  padding: 4px 16px;
  border-radius: 6px;
  background-color: $grey-bg;
  font-style: italic;
  input {
    flex-grow: 1;
    padding: 0;
    font-size: $small-font-size;
    border: none;
    outline: none;
    background-color: transparent;
    color: $black-text;
    &::placeholder {
      color: $grey-placeholder;
    }
  }
}

.btn {
  padding: 10px;
  background-color: $green;
  @include box-shadow;
  border-radius: 8px;
  color: white;
  text-align: center;
}



@media only screen and (max-width: 640px) {
  .input-wrapper {
    height: 48px;
  }
  .btn {
    padding: 14px;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $grey-bg inset !important;
}

.drag * {
 pointer-events: none;
}

.ignore {
  display: contents;
}
