header {
  display: flex;
  flex-shrink: 0;
  height: 80px;
  vertical-align: middle;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

  .search-bar {
    display: flex;
    flex-basis: 322px;
    flex-shrink: 0;
    height: 32px;
    margin: 0 14px;
    padding: 0 16px;
    border-radius: 16px;
    align-items: center;
    background-color: $dark-green-bg;
    cursor: pointer;

    .anticon-search {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.6);
    }

    .input-wrapper {
      flex-grow: 1;
      background-color: transparent;

      input {
        color: white;
        font-size: 14px;
      }
    }
  }

  .logged-in-user {
    margin: 0 22px;
    color: white;

    > span {
      font-weight: bold;
    }
  }

  .logout {
    margin-left: auto;
    margin-right: 48px;
    color: white;
    cursor: pointer;
  }
}

.members {
  margin: 0 36px;
  display: flex;
}

.member {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 6px;
  color: white;
  background-color: rgb(8, 100, 89);
  border: 2px solid rgb(37, 129, 118);
  border-radius: 50%;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

