.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 440px;
  .logo {
    display: block;
    margin: 40px auto;
    filter: brightness(0) saturate(100%) invert(25%) sepia(91%) saturate(1677%) hue-rotate(153deg) brightness(92%) contrast(103%);
  }
  .form {
    padding: 16px 40px;
    @include box-shadow;
    border-radius: 8px;
    background-color: white;
    h1 {
      @include h1-font-size;
      margin-top: 16px;
      margin-bottom: 24px;
      font-weight: normal;
      text-align: center;
    }
    .input-wrapper {
      margin-bottom: 16px;
      &.error {
        border: 1px solid $red;
      }
      .feedback {
        font-size: 18px;
        color: $red;
      }
    }
    .error-display {
      font-size: $small-font-size;
    }
    .btn {
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .login {
    font-size: $mobile-font-size;
    .form {
      box-shadow: 0 0 0 transparent;
      border-radius: 0;
      input {
        font-size: $mobile-font-size;
      }
    }
  }
}
