#modal-root {
  > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .overlay {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.64);

      .inner {
        position: relative;
        width: 600px;
        max-width: 100%;
        margin: auto;
        padding: 24px 32px;
        border-radius: 8px;
        background-color: white;
        outline: none;

        .anticon-close.large{
          font-size: 16px;
          position: absolute;
          right: 16px;
          top: 16px;
        }

        h4 {
          font-size: 12px;
          text-transform: uppercase;
          margin-top: 24px;
          margin-bottom: 0;
          font-weight: normal;
        }

        .title {
          font-size: 18px;
          opacity: 0.88;
          line-height: 26px;

          .input-wrapper {
            textarea {
              font-size: 18px;
              line-height: 26px;
            }
          }
        }

        .btn {
          margin: 0 0 0 auto;
          border-radius: 6px;
          padding: 6px 16px;
          font-size: 12px;
        }

        .popup {
          top: 38px;
          right: -145px;
        }

        .add-label {
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 24px;

          h4 {
            margin-top: 0;
          }

          .popup {
            .items {
              .tags {
                margin-top: 0;

                .tag {
                  position: relative;
                  display: flex;
                  justify-content: space-around;
                  margin-bottom: 0;
                  height: 30px;
                  width: 190px;
                  margin-top: 8px;
                  cursor: pointer;

                  .anticon-check {
                    position: absolute;
                    top: 11px;
                    right: 12px;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }

        .tags {
          margin-top: 12px;
          align-items: center;

        }

        .description {
          margin-top: 16px;
          line-height: 22px;
          min-height: 40px;
        }

        .members {
          position: relative;
          display: flex;
          align-items: center;
          margin: 24px 0 0 0;

          h4 {
            margin: 0;
          }

          .member {
            height: 36px;
            width: 36px;
            font-size: 12px;
          }

          .popup {
            .items {
              .member-wrapper {
                display: flex;
                margin: 8px 0 0 0;
                align-items: center;
                cursor: pointer;

                &:first-of-type {
                  margin-top: 4px;
                }

                .anticon-check {
                  margin-left: auto;
                }

              }
            }
          }
        }

        .member-list {
          .members {
            margin-top: 12px;

            .member {
              margin: 0 8px 0 0;
            }
          }
        }

        .comments {
          .member {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            flex-shrink: 0;
          }

          .placeholder {
            display: flex;
            align-items: center;
            margin-top: 18px;


            .input-wrapper {
              flex-grow: 1;
            }
          }

          .comment {
            margin-top: 16px;
            font-size: 14px;
            line-height: 22px;

            .header {
              display: flex;
              align-items: center;

              .date {
                margin-left: 4px;
                color: rgb(136, 136, 136);
              }
            }

            .input-wrapper {
              align-items: center;
              margin-top: 8px;
              margin-left: 44px;
            }
          }
        }
      }
    }
  }
}

