@media only screen and (max-width: 640px) {
  #modal-root {
    > div {
      .overlay {
        .inner {
          padding: 48px 32px;
          margin: auto;
          width: auto;
          border-radius: 0;

          .anticon-close.large {
            right: 16px;
            top: 24px;
          }

        }
      }
    }
  }
}
