.popup {
  position: absolute;
  z-index: 1;
  width: 226px;
  border-radius: 8px;
  padding: 16px 18px;
  @include box-shadow;
  background-color: white;
  color: $black-text;
  .popup-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;
    h3 {
      margin: 0;
      font-size: 12px;
    }
    .anticon-close {
      position: absolute;
      font-size: 12px;
      top: 16px;
      right: 18px;
      cursor: pointer;
      outline: none;
    }
  }
  .separator {
    border-top: 1px solid $grey-bg;
    margin-bottom: 8px;
  }
  .items {
    display: flex;
    flex-direction: column;
    .item {
      margin-bottom: 8px;
    }
  }
}
