.textarea {
  display: flex;

  > div {
    cursor: pointer;
    flex: 1;
  }

  .input-wrapper {
    flex-grow: 1;
    height: auto;
    border-radius: 0;
    padding: 0;
    background-color: $grey-bg;
    margin-left: -2px;
    margin-top: 1px;

    textarea {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
