$small-font-size: 12px;
$default-font-size: 14px;
$mobile-font-size: 16px;

@mixin textarea-font-size {
  font-size: $default-font-size;
  line-height: 22px;
}

@mixin h1-font-size {
  font-size: 18px;
  line-height: 26px;
}

@mixin box-shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 17, 0.18);
}

$green: rgb(0, 121, 107);
$red: rgb(211, 47, 47);
$orange: rgb(255, 152, 0);
$blue: rgb(25, 118, 210);
$purple: rgb(81, 45, 168);
$black-text: rgb(29, 31, 31);
$grey-placeholder: rgb(170, 170, 170);


$grey-bg: rgb(232, 232, 232);
$dark-green-bg: rgba(33, 33, 33, .24);
$board-bg: rgb(249, 249, 249);


