.board {
  .title {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $green;
    color: white;
    text-transform: uppercase;

    h2 {
      font-size: 14px;
      font-weight: normal;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }

    .anticon-more {
      position: absolute;
      font-size: 16px;
      right: 4px;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: $dark-green-bg;
      }
    }

    .input-wrapper {
      background-color: $dark-green-bg;

      input {
        font-size: 14px;
        color: white;
        text-align: center;
      }
    }

    .popup {
      right: -182px;
      top: 48px;
      z-index: 1;

      .items {
        font-size: 14px;

        .item {
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 6px;

          &:hover {
            background-color: $grey-bg;
          }
        }
      }
    }
  }
}
